# Git
grm() { git diff --name-only --diff-filter=D -z | xargs --null git rm --cached; }
gpush() { git push --set-upstream origin master; }
gclone() { git clone ${1}:neeto/${2}.git; }

# Package manager
upg() { sudo apt-get update && sudo apt-get upgrade; }

# Systemd
jctl() { sudo journalctl --all --quiet --catalog --pager-end; }
sctl() { sudo systemctl "$@"; }
sctlfi() { systemctl list-unit-files --all; }
sedit() { sudo systemctl edit --full "$@"; }

sstatus() { sudo systemctl status "$@"; }
sstart() { sudo systemctl start "$@"; sudo systemctl status "$@"; }
sstop() { sudo systemctl stop "$@"; sudo systemctl status "$@"; }
srestart() { sudo systemctl restart "$@"; sudo systemctl status "$@"; }
senable() { sudo systemctl enable "$@"; sudo systemctl status "$@"; }
sdisable() { sudo systemctl disable "$@"; sudo systemctl status "$@"; }
ustart() { systemctl --user start "$@"; systemctl --user status "$@"; }
urestart() { systemctl --user restart "$@"; systemctl --user status "$@"; }
ustop() { systemctl --user stop "$@"; systemctl --user status "$@"; }
uenabled() { systemctl --user enable "$@"; systemctl --user status "$@"; }
udisabled() { systemctl --user disable "$@"; systemctl --user status "$@"; }
ustatus() { systemctl --user status "$@"; }

# Misc
lefix() { sed --in-place 's/\r//g' "$@"; }
mcd() { mkdir --parents "$1" && cd "$1"; }
mntext() { sudo mount "$1" "$2" --options user,rw,umask=111,dmask=000; }
tarx() { tar xaf "$1" && rm "$1"; }
tarc() { tar caf "${1:-tarchive}" --remove-files "$2"; }
getmem() { free --mega | grep Mem | awk '{print $4}'; }
lsobj() { sudo awk '{printf "%5d MB %s\n", $3*$4/(1024*1024), $1}' /proc/slabinfo | sort --numeric-sort; }
rlog() { awk '$1 !~ /^(DEBUG|INFO|STATUS)/ {print}' "$1"; }
gc() { gcc -std=c11 -Wall -Wextra -g -o "${1%.*}" "$1"; }
